﻿<form class="form-horizontal"
      name="productForm"
      novalidate>
    {{ product=vm.product;""}}
    <fieldset>
        <legend> {{ product.name }} </legend>

        <div class="form-group" ng-class="{'hasError':productForm.inputProductName.$invalid &&
                                                      productForm.inputProductName.$dirty}">
            <label class="col-md-2 control-label" for="inputProductName">
                Product Name
            </label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputProductName"
                       name="inputProductName"
                       placeholder="Product Name (required)"
                       ng-model="product.name"
                       required
                       ng-minlength="4"
                       ng-maxlength="16" />
            </div>
            <span class="help-block has-error">
                <span ng-show="productForm.inputProductName.$error.required">
                    Product name is required
                </span>
                <span ng-show="productForm.inputProductName.$error.minlength">
                    Product name must be at least 4 characters long
                </span>
                <span ng-show="productForm.inputProductName.$error.maxlength">
                    Product name cannot exceed 16 characters in length
                </span>
            </span>
        </div>

        <div class="form-group" ng-class="{'hasError':productForm.inputProductCode.$invalid &&
                                                      productForm.inputProductCode.$dirty}">
            <label class="col-md-2 control-label" for="inputProductName">
                Product Code
            </label>
        </div>            

        <div class="form-group" ng-class="{'hasError':productForm.inputProductPrice.$invalid &&
                                                      productForm.inputProductPrice.$dirty}">
            <label class="col-md-2 control-label" for="inputProductPrice">
                Product Price
            </label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputProductPrice"
                       type="text"
                       name="inputProductPrice"
                       placeholder="Price (required)"
                       ng-model="product.price"
                       ng-change="vm.priceChanged(productForm)"
                       required />
            </div>

            <span class="help-block has-error">
                <span ng-show="productForm.inputProductPrice.$error.invalid">
                    Use numbers only and value in range from 0.1 to 99999
                </span>
            </span>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="inputDescription">
                Product Description
            </label>

            <div class="col-md-6">
                <textarea class="form-control"
                          id="inputDescription"
                          name="inputDescription"
                          placeholder="Description"
                          rows="3"
                          ng-model="product.description"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width:80px;margin-right: 10px;"
                            ng-click="vm.submit(productForm)"
                            ng-disabled="productForm.$invalid"
                            type="button">
                        {{ product.id > 0? 'Save' : 'Create' }}
                    </button>
                </span>
                <span>
                    <button class="btn btn-default"
                            style="width:70px"
                            ng-click="vm.cancel(productForm)"
                            type="button">
                        Cancel
                    </button>
                </span>
            </div>
        </div>
    </fieldset>
</form>