﻿<div style="width: 100%;">
    <form name="loginForm"
          novalidate
          class="navbar-form navbar-right">
        <div class="form-group ">
            <input type="email"
                   placeholder="Email"
                   ng-model="vm.creds.email"
                   class="form-control"
                   style="width:200px; height:30px;" />
        </div>

        <div class="form-group ">
            <input type="password"
                   placeholder="Password"
                   ng-model="vm.creds.password"
                   class="form-control col-md-4"
                   style="width:200px; height:30px;" />
        </div>
        <div style="width:14px;" class="form-group">
            &nbsp;
        </div>
        <div class="form-group">
            <button class="btn btn-primary form-control" 
                    ng-click="vm.login()" 
                    style="width:100px; height:35px;">Login</button>
        </div>
        <div style="width:4px;" class="form-group">
            &nbsp;
        </div>
        <div class="form-group">
            <button class="btn btn-primary form-control" 
                    ng-click="vm.register()"
                    style="width:100px; height:35px;">Register</button>
        </div>
        <div class="form-group" ng-show="vm.message" style="vertical-align: middle">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ vm.message }}
            </p>
        </div>
    </form>
</div>