﻿<div>
    <style>
        .selected {
            background-color: rgba(96, 96, 96, 0.25)
        }

        .deSelected {
            border: none;
        }
    </style>
    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.products">
                <td ng-dblclick="vm.productDoubleClicked(item)" ng-click="vm.productClicked(item)">{{item.name}}</td>
                <td ng-dblclick="vm.productDoubleClicked(item)" ng-click="vm.productClicked(item)">{{item.description}}</td>
                <td ng-dblclick="vm.productDoubleClicked(item)" ng-click="vm.productClicked(item)">{{item.price | currency}}</td>
                <td ng-click="vm.addToCart(item)">
                    <button class="btn btn-default">
                        Add to cart
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>