﻿<nav class="navbar navbar-static-top" ng-controller="LoginCtrl as vm">
    <div class="container-fluid">
        <div class="navbar-header">
            <div ng-if="vm.pageService.getCurrentPage() === 'login'">
                <ng-include src="'App/PartialViews/Login.html'"></ng-include>
            </div>
            <div ng-if="vm.pageService.getCurrentPage() === 'products'">
                <div style="position: absolute; top: 10px; right: -200px; width: 80px; height: 25px;">
                    <button type="button" class="btn form-control" ng-click="vm.pageService.setCurrentPage('cart')">
                        <span class="glyphicon glyphicon-shopping-cart"></span>Cart
                    </button>
                    <button class="btn form-control" ng-click="vm.logout()">Log out</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div ng-if="vm.pageService.getCurrentPage() === 'products'">
            <ng-include src="'App/Views/Products.html'"></ng-include>
        </div>
        <div ng-if="vm.pageService.getCurrentPage() === 'cart'">
            <ng-include src="'App/Views/ShoppingCart.html'"></ng-include>
        </div>
    </div>
</nav>
<br /><br />