﻿<div ng-controller="ItemsCtrl as vm">
    <center>
        <div>
            <ng-include src="'App/PartialViews/ViewItems.html'"></ng-include>
            <!--<div ng-switch-when="true">
                <ng-include src="'App/PartialViews/EditItem.html'"></ng-include>
            </div>-->
            <br />
            <div class="form-group" ng-show="vm.message">
                <div class="col-md-6">
                    <pre style="font: inherit">{{vm.message}}</pre>
                </div>
            </div>
        </div>
    </center>
</div>