﻿<div ng-controller="CartCtrl as vm">
    <style>
        .selected {
            background-color: rgba(96, 96, 96, 0.25)
        }

        .deSelected {
            border: none;
        }
    </style>
    <table class="table table-responsive table-hover">
        <thead>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.getProducts()">
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.price | currency}}</td>
            <td>
                <button ng-click="vm.minusClicked(item)"><span class="glyphicon glyphicon-minus"></span></button>
                {{item.quantity}}
                <button ng-click="vm.plusClicked(item)"><span class="glyphicon glyphicon-plus"></span></button>
            </td>            
        </tr>
        </tbody>
    </table>
    <div style="text-align: left; border-top: 1px solid black; padding: 12px 12px 12px 12px">        
        <button ng-click="vm.pageService.goBack()" class="btn btn-primary">
            Back
        </button>  
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button ng-click="vm.submit()" class="btn btn-primary">
            Proceed
        </button>
        <Center>
            &nbsp;&nbsp;&nbsp;&nbsp;
            Total sum: {{vm.getTotalSum() | currency}}
        </Center>
    </div>
</div>